body{
  background-color:   #f7f7f7;
  font: 15px/1.5 Arial, Helvetica, sans-serif;
  text-align: center;
}

* {
    box-sizing: border-box;
} 


/* Common CSS */
.Q-label, .Q-label-1, .box-label, #wall-head, #youtubers, #curriculum {
    color: #202040;
}

.box-label, .Q-label-1, .Q-label, .section-head, #youtubers , #curriculum{
    text-transform: uppercase;
}
#wall-head{
    font-size: 60px;
}

#define-site{
    font-size: 23px;
    font-weight: 700;
    letter-spacing: .025em;

}
p{
    color: #4a5568;
    font-size:18px;
    font-weight: 500;
    font-family: sans-serif;
}

.section-head{
    background: #f6e05e;
    width: 75%;
    font-size: large;
    border-radius: 15px;
     letter-spacing: .025em;
     font-weight: 600;
     margin-top: 45px;
}

.col{
    padding: 35px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}

.card-1{
    
    background: #f7f7f7;
    color:#888888;
/*     border: 1px solid #555; */
    list-style-type: none;
    margin-right: 100px;
    margin-left: 20px;
    margin-bottom: 25px;
    height: 500px;
    width: 480px;
    transition: .3s;
}

.card-2{
    background: #f7f7f7;
    color:#888888;
/*     border: 1px solid #555; */
    list-style-type: none;
    /* margin-right: 60px; */
    margin-bottom: 25px;
    height: 500px;
    width: 480px;
    

    /* https://developer.mozilla.org/en-US/docs/Web/CSS/transition */
    transition: .3s;
}

.card-3{
    background: #f7f7f7;
    color:#888888;
/*     border: 1px solid #555; */
    list-style-type: none;
    margin-right: 100px;
    margin-bottom: 25px;
    margin-top: 60px;
    margin-left: 50px;

    height: 550px;
    width: 480px;
    /* https://developer.mozilla.org/en-US/docs/Web/CSS/transition */
    transition: .3s;
}

.card-4{
    background: #f7f7f7;
    color:#888888;
/*     border: 1px solid #555; */
    list-style-type: none;
    margin-right: 60px;
    margin-top: 60px;
    margin-bottom: 25px;
    height: 550px;

    width: 480px;
    /* https://developer.mozilla.org/en-US/docs/Web/CSS/transition */
    transition: .3s;
}
.card-1:hover , .card-3:hover, .card-2:hover, .card-4:hover{
    box-shadow: 0 10px 15px 0 #888888;
}

hr{
    background-color: #1a202c ;
    height: 20px; 
    display: block;
}

.currm{
    display: flex;
    padding: 30px 35px;
}

.currm-1{
    height: 300px;
    width: 400px;
    margin-left: 35px;
}

.currm-2{
    height: 400px;
    width: 400px;
}

.currm-3{
    height: 400px;
    width: 400px;
    margin-left: 35px;
}

#youtubers , #curriculum{
    font-size: 20px;
}

#youtube-channels{
    height: 300px;
    padding: 20px 60px;
   display: flex;   
}

#youtube-channels a{
    text-decoration: none;
    color: #1a202c;
}

#youtube-channels a:hover{
    color: #888888;
    font-size: 16px;
}


/* FAQ */

.box-label{
    font-size: 20px;
}

.faq-1{
    padding: 35px;
}

.faq-2{
    width: 600px;
    border: #1a202c 1px solid;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.faq-4 {
	width: 380px;
	border: #1a202c 1px solid;
	border-radius: 10px;
	display: flex;
	margin: 0 auto;
}

#box-3{
	margin: 0 auto;
}

#box-1 ul li , #box-2 ul li, #box-3 ul li  {
    
    list-style: none;
    margin-bottom: 5px;
}

#box-1 a , #box-2 a, #box-3 a  {

    color: #1a202c;
    font-size: 18px;
    font-weight: 600;
}

  #box-1 a:hover , #box-2 a:hover, #box-2 a:hover {
color: #888888;

}

.Q-label{
    margin-bottom: 50px;
    font-size: 30px;
}

.Q-label-1 {
	font-size: 30px;
}

.faq-3 a{
    color: #4a5568;
    font-size: 20px;
    text-decoration: none;
}

a:hover{
    font-size: 25px;
    color: #1a202c;
}

iframe{
    aspect-ratio: 2/1;
    width: 50%;
}
